input, textarea {
    display: block;
    width:100%;
    padding:1rem;
    background-color: white;
    border: nth($border-input,1)light-check($color-primary,20%);
    border-radius:1rem;
    font-size: $font-size-form;
    @include modifier($form-modifier);
}