/*Header Footer*/
header, footer{
    background: map-get($color-map, color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    padding-block: 3rem;
    position: relative;
    z-index: 2;

}
