@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap');

* {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
}

header, footer {
    margin-left: 2em ;
    margin-right: 3em ;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

.header__nav {
    width: 40%;
}

.footer__nav {
    width: 10%;
}

.header__nav ul, .footer__nav ul {
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav a:hover {
    text-decoration: underline;
}

h1 {
    font-family: "Montserrat";
    font-size: 3.5em;
    color: #A5B4FC;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

em {
    font-style: normal;
    color: #A5B4FC;
}

.button {
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
    background: linear-gradient(#8E86B5, #ACAEED );
    padding: 1em;
    border-radius: 3em;
}