@import "style.css";

main {
    background-color: #1F2039;
    color: white;
    padding-top: 5em;
    padding-bottom: 15em;
}

/*tarifs normaux*/

.main__tarifs {
    width: 75%;
    margin: auto;
}

.tarifs__head {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5em;
}

.tarifs__1 {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;   
    margin-bottom: 5em;
}

.tarifs__1 h2, .tarifs__1 h3 {
    font-family: "Montserrat";
    color: #A5B4FC;

}

.tarifs__1 div {
    border-bottom: #A5B4FC 1px solid;
    border-right: #A5B4FC 1px solid;
    padding: 3em;
    display: grid;
    gap: 2em;

}

/*tarifs sudio*/
.tarifs__studio h2 {
    color: #A5B4FC;
    font-family: "Montserrat";
    font-size: 2em;
    margin-bottom: 2em;
}

.studio__table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
.studio__table td, .studio__table th {
    border: #A5B4FC 1px solid;
    text-align: center;
}
.studio__table th {
    font-family: "Montserrat";
    padding: 0.5em;
}
.studio__table td {
    padding: 3em;
}