/*Button*/
button {
    width:max-content;
    height: max-content;
    font-family:$font-familly-button;
    color:map-get($color-map, color-button);
    font-size:$font-size-button;
    cursor:pointer;
    background:linear-gradient(map-get($color-map, color-secondary), lighten(map-get($color-map, color-secondary),10%));
    border:none;
    padding:1rem;
    border-radius:3rem;
    @include modifier($btn-modifier,$color-primary);
}