* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.75%;
    background: $color-primary;
}
section{
    padding-inline: $padding-inline-section;
    padding-block: $padding-block-section;
}
