/*Index*/
.presentation{
    display: flex;
    justify-content: space-between;
    &__bio{
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 3rem;
    }
    &__photo{
        margin: auto;
        border-right: 1px solid ;
        border-bottom: 1px solid ;
        padding:inherit;
    }
}
.photoAcceuil{
    background: map-get($color-map, color-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5rem;
    h2{
        color: light-check(map-get($color-map,color-white),40%);
    }
    &__photos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        img{
            border-radius: 2rem;
        }
    }
    &__button{
        @include modifier($btn-modifier,map-get($color-map, color-white));
    }
}
.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    position: relative;
    &__form{
        display: grid;
        gap: 2rem;
        border-top-left-radius: 6rem 9rem;
        border-bottom-right-radius: 6rem 9rem;
        &__nameEmail{   
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
    h2,form,button
    {
        position: relative;
        z-index: 5;
    }
    &__button{
        @include modifier($btn-modifier,light-check($color-primary,20%)); 
    }
}
.shadow{
    bottom:8%;
    right: 25%;
}