.portfolio-title{
    position: relative;
    z-index: 1;
    text-shadow: 30rem 0rem light-check($color-primary,5%),
                 60rem 0rem light-check($color-primary,10%),
                 90rem 0rem light-check($color-primary,20%),
                 120rem 0rem light-check($color-primary,30%);
    border-bottom: 2px solid light-check($color-primary,25%);
    box-shadow: 0rem 2rem 10rem -3rem $color-primary;
    h1{
        width: fit-content;
        padding: 2rem;
        border-radius: 3rem;
        border-top: 3px solid map-get($color-map, color-white);
        border-bottom: 3px solid map-get($color-map, color-white);
        border-left: 3px solid map-get($color-map, color-white);
    }
}
.portfolio-photo{
    background-color: map-get($color-map, color-white);
    padding-bottom: 0;
    box-shadow: inset -0rem -5rem 10rem -7rem $color-primary;  
    h2{ 
        color: light-check(map-get($color-map,color-white),40%);
    }
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
    &__paysage, &__portrait{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 35rem 35rem 35rem;
        gap: 2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
        }
    }

}
#paysage,#portrait{

    &1,&2,&3,&4,&5,&6,&7,&8,&9{
        position: relative;
        &:target{
            cursor:default;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            z-index: 3;
            background-color: rgba(0, 0, 0,.8);
            padding: 3rem;
            cursor:default;
        }
        
    }

}
.close::after{
    right: 10rem;
    top: 0rem;
    width: 5rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 6rem;
    content: "x";
    cursor: pointer;;
}
.next{
    right: 12rem;
    top: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 1;
    border-top: .5rem solid white;
    border-right: .5rem solid white;
    transform: rotate(45deg);
    font-size: 8rem;
    content: "";
    cursor: pointer;
}
.previous{
    left: 12rem;
    top: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 1;
    border-top: .5rem solid white;
    border-right: .5rem solid white;
    transform: rotate(225deg);
    font-size: 8rem;
    content: "";
    cursor: pointer;
}