//color #1F2039
$color-primary:#1F2039 ;
//color
$color-map: color-palette($color-primary);
//font familly
$font-familly-body:"Manrope", sans-serif;
$font-familly-button:"Montserrat",sans-serif;
$font-familly-h1:"Montserrat", sans-serif;
//text font-size
$font-size-body:2.2rem;
$font-size-h1:7rem;
$font-size-h2:3rem;
$font-size-form:2.2rem;
$font-size-nav:1.8rem;
$font-size-button:2rem;
$font-size-input:2rem;
//nav
$gap-nav:10rem;
//section
$padding-inline-section:10rem;
$padding-block-section:10rem;
//input
$border-input:.6rem solid, light-check($color-primary,20%);
//maps
$nav-modifier:(
    active:(
        color:$color-primary,
        text-decoration:underline,
    ),
    hover:(
        text-decoration:underline,
    ),
);
$btn-modifier:(
    hover:(
        box-shadow:3rem 3rem,
    ),
);
$form-modifier:(
    focus:(
        outline:none,
        border:nth($border-input, 1) light-check($color-primary,50%),
    ),
    invalid:(
        background-color: pink,
    ),
);